root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{md,mdx}]
trim_trailing_whitespace = false

[*.{json,yml,yaml,vue,ts,tsx,js,jsx,html,css,scss}]
indent_size = 2

[*.cs]
indent_size = 4
# C# code style
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_prefer_top_level_statements = true:silent
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.IDE0058.severity = none

[*.{csproj,props,targets}]
indent_size = 2
